In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
import warnings

In [7]:
df=pd.read_csv('stud.csv')

In [8]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [14]:
x=df.drop(columns=['math_score'],axis=1)
y=df['math_score']

In [15]:
cat_features=x.select_dtypes(include='object').columns
num_features=x.select_dtypes(include='number').columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

ss=StandardScaler()
ohe=OneHotEncoder()

preprocessor=ColumnTransformer([\
    ("standard scaler",ss,num_features),
    ("one hot encoder",ohe,cat_features),
    ])

In [16]:
x=preprocessor.fit_transform(x)

In [19]:
x.shape

(1000, 19)

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)